{% extends 'layout.html' %}
{% block content %}
<h1>Aframe Playground</h1>
<ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.url }}">{{ page.url }}</a> -
    <strong>{{ page.name }}</strong> - {{ page.description|safe }}
  </li>
  {% endfor %}
</ul>
<p>This project has 2 goals:</p>
<ul>
  <li>
    An environment to quickly experiment with aframe things like getting video playback to work on mobile, creating new scratch projects
  </li>
  <li>
    An example of a node.js / express / swig template "wrapper" for aframe projects that is ready to be extended to include things like authentication, server logic, etc.
  </li>
</ul>
<p>
  Modify this project:
  <a href="https://github.com/kfarr/aframe-playground">
    https://github.com/kfarr/aframe-playground
  </a>
</p>
{% endblock %}
